<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Zadaci</title>
</head>
<body>



<div layout:fragment="content" class="container mySpace">

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:text="${userName}"></span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Vreme Pocetka</th>
                    <th>Vreme Zavrsetka</th>
                    <td>Opis</td>
                    <td>Detalji</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="zadatak:${zadaci}">
                    <td th:text="${zadatak.datum}"></td>
                    <td th:text="${zadatak.vremePocetka}"></td>
                    <td th:text="${zadatak.vremeZavrsetka}"></td>
                    <td th:text="${zadatak.opisZadatka}"></td>
                    <td>
                        <a th:href="@{'/prikazi_zadatak/{id}'(id=${zadatak.id})}"  style="color: #158cba;   ">Prikazi zadatak</a>
                    </td>

                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>