<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <title>Uspesno</title>
</head>
<body>

<div  layout:fragment="content" class="container mySpace">

    <div class="alert alert-warning" th:if="${uspesnoAdmin}">
        <p class="text text-center">
            Administrator Registrovan!<br>
            <span th:text=" 'Ime i prezime:   ' + ${korisnik.ime} + ' ' + ${prezime} "></span>
        </p>
    </div>

    <div class="alert alert-warning" th:if="${uspesnoRukovodioc}">
        <p class="text text-center">
            Rukovodilac Registrovan!<br>
            <span th:text=" 'Ime i prezime:   ' + ${imeR} + ' ' + ${prezimeR} "></span>
        </p>
    </div>

</div>
</body>
</html>