<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Zadaci</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace">
    <form th:action="@{/dodajZadatak}" th:object="${zadatak}" method="post">

        <div class="form-group">
            <label for="naslov" class="form-control-label">Naslov</label>
            <input   class="form-control" th:field="*{naslov}"
                        id="naslov">  </input>
            <div class="text text-danger"
                 th:if="${#fields.hasErrors('naslov')}" th:errors="*{naslov}"></div>


        </div>

        <div class="form-group">
            <label for="datum" class="form-control-label">Datum</label> <input
                type="date" class="form-control" th:field="*{datum}" id="datum" />
            <div class="text text-danger" th:if="${#fields.hasErrors('datum')}"
                 th:errors="*{datum}"></div>
        </div>
        <div class="form-group">
            <label for="vremePocetka" class="form-control-label">Vreme Pocetka</label>
            <input type="time" class="form-control" th:field="*{vremePocetka}"
                   id="vremePocetka" />
            <div class="text text-danger"
                 th:if="${#fields.hasErrors('vremePocetka')}" th:errors="*{vremePocetka}"></div>

        </div>
        <div class="form-group">
            <label for="vremeZavrsetka" class="form-control-label">Vreme Zavrsetka</label> <input
                type="time" class="form-control" th:field="*{vremeZavrsetka}"
                id="vremeZavrsetka" />
            <div class="text text-danger"
                 th:if="${#fields.hasErrors('vremeZavrsetka')}" th:errors="*{vremeZavrsetka}"></div>
        </div>
        <div class="form-group">
            <label for="opisZadatka" class="form-control-label">Opis Zadatka</label>
            <textarea   class="form-control" th:field="*{opisZadatka}"
                        id="opisZadatka">  </textarea>
            <div class="text text-danger"
                 th:if="${#fields.hasErrors('opisZadatka')}" th:errors="*{opisZadatka}"></div>


        </div>
        <input type="submit" value="Dodaj zadatak" class="btn btn-primary" />
    </form>
</div>
</body>
</html>